@font-face {
    font-family:'headliner';
    src: url("/assets/HeadlinerNo45.ttf") format("truetype");
  }
  html{
    font-family: 'heafliner' !important;
  }
  body{
    font-family: 'headliner', sans-serif !important;
    background-color: #000;
  }